In [2]:
from datetime import datetime

In [66]:
now = datetime.now()
# now.year
# now.month
# now.day
# now.hour
now

datetime.datetime(2019, 4, 2, 17, 20, 13, 624609)

In [30]:
datetime(2019,1,10) - datetime(2018,10,10,1,10,10)
d.days
d.seconds

82190

In [31]:
from datetime import timedelta

In [35]:
start = datetime(2017,12,10)
start+timedelta(7)*2   #加到天数上

datetime.datetime(2017, 12, 24, 0, 0)

# 字符串与日期胡转

In [40]:
date = datetime(2018,7,5)
sd = str(date) #转字符串

'2018-07-05 00:00:00'

In [43]:
date.strftime('%Y-%m-%d')    #转字符串

'2018-07-05'

In [5]:
v = '2011-05-09'
datetime.strptime(v,'%Y-%m-%d')  #字符串转时间 格式必须
v1 = ['7/4/2012','8/6/2018']
[datetime.strptime(x,'%m/%d/%Y') for x in v1]  #注意格式的不同
from dateutil.parser import parse #zhuan日期 导入包
parse(v)
parse('6/7/2019',dayfirst=True)   #

import pandas as pd 
v = ['2018-4-5 11:23:08','2019-2-4 9:30:00']  
v1 = pd.to_datetime(v + ['NaN']) #类型为DatetimeIndex 注意 加NAN为 空时间
v1.isnull()

NameError: name 'datetime' is not defined

In [6]:
import numpy as np
ts = pd.Series(np.random.randn(1000),index = pd.date_range('1/1/2000',periods = 1000))
ts['5/2001']  #quzhi
ts['1/7/2002':]  #qie片
ts['1/7/2002':'8/9/2002']

ts.truncate(after='1/7/2002')  #函数区指定日期之前的数据

#有重复时间索引
dates = pd.DatetimeIndex(['1/1/2000','1/2/2000','1/2/2000','1/3/2000'])
ts1 = pd.Series(np.random.randn(4),index=dates)

ts1.index.is_unique  #注意
ts1['1/1/2000']  #取值

ts1['1/2/2000']  #注意是切片
print(ts1.groupby(ts1.index).sum())  #分组
ts1.groupby(level=0).count()

NameError: name 'pd' is not defined

In [8]:
import pandas as pd 
pd.date_range('2012-2-3','2012-10-3',freq='4h')  #BM表示每个月最后一天

DatetimeIndex(['2012-02-03 00:00:00', '2012-02-03 04:00:00',
               '2012-02-03 08:00:00', '2012-02-03 12:00:00',
               '2012-02-03 16:00:00', '2012-02-03 20:00:00',
               '2012-02-04 00:00:00', '2012-02-04 04:00:00',
               '2012-02-04 08:00:00', '2012-02-04 12:00:00',
               ...
               '2012-10-01 12:00:00', '2012-10-01 16:00:00',
               '2012-10-01 20:00:00', '2012-10-02 00:00:00',
               '2012-10-02 04:00:00', '2012-10-02 08:00:00',
               '2012-10-02 12:00:00', '2012-10-02 16:00:00',
               '2012-10-02 20:00:00', '2012-10-03 00:00:00'],
              dtype='datetime64[ns]', length=1459, freq='4H')

In [33]:
from datetime import datetime
import pandas as pd 
st = pd.Series(np.random.randn(4),index=pd.date_range('2017-5-1',periods=4))
print(st)
st.shift(2)  #最上面两个移动
st.shift(-2)  #左后连个移动
st.shift(2,freq='D')   #移动了月份

2017-05-01   -0.957733
2017-05-02   -1.178535
2017-05-03    2.338983
2017-05-04    1.401447
Freq: D, dtype: float64

2017-05-03   -0.957733
2017-05-04   -1.178535
2017-05-05    2.338983
2017-05-06    1.401447
Freq: D, dtype: float64

#   重采样

In [40]:
t = pd.DataFrame(np.random.uniform(10,50,(100,1)),index=pd.date_range('2017-1-1',periods=100))
print(t)
t.resample('10D').count()

                    0
2017-01-01  48.298358
2017-01-02  38.764460
2017-01-03  31.749397
2017-01-04  43.306726
2017-01-05  23.837047
2017-01-06  42.112832
2017-01-07  33.125812
2017-01-08  39.162218
2017-01-09  46.280484
2017-01-10  33.265932
2017-01-11  36.491953
2017-01-12  41.660790
2017-01-13  35.361203
2017-01-14  31.108620
2017-01-15  36.819261
2017-01-16  33.011732
2017-01-17  26.332719
2017-01-18  41.444342
2017-01-19  43.505013
2017-01-20  49.981655
2017-01-21  33.942655
2017-01-22  15.130951
2017-01-23  33.161514
2017-01-24  48.553178
2017-01-25  34.951383
2017-01-26  17.025320
2017-01-27  15.201328
2017-01-28  37.040245
2017-01-29  14.692073
2017-01-30  20.033662
...               ...
2017-03-12  13.059132
2017-03-13  26.811704
2017-03-14  10.635062
2017-03-15  31.245087
2017-03-16  44.182544
2017-03-17  15.582200
2017-03-18  42.183177
2017-03-19  36.402360
2017-03-20  42.455983
2017-03-21  24.114270
2017-03-22  41.033188
2017-03-23  24.601550
2017-03-24  17.982547
2017-03-25  41.776431
2017-03-26  14.933856
2017-03-27  35.838871
2017-03-28  42.483858
2017-03-29  43.955462
2017-03-30  26.452321
2017-03-31  38.346336
2017-04-01  43.837244
2017-04-02  29.939656
2017-04-03  31.927751
2017-04-04  14.027029
2017-04-05  48.976799
2017-04-06  49.633965
2017-04-07  22.156439
2017-04-08  38.038730
2017-04-09  17.313003
2017-04-10  37.989693

[100 rows x 1 columns]

             0
2017-01-01  10
2017-01-11  10
2017-01-21  10
2017-01-31  10
2017-02-10  10
2017-02-20  10
2017-03-02  10
2017-03-12  10
2017-03-22  10
2017-04-01  10

In [47]:
import pandas as pd
s = pd.DataFrame(np.random.randn(2,4),index=pd.date_range('2014-1-1',periods=2,freq='W-WED'),columns=['上海','北京','广州','兰州'])
s

                  上海        北京        广州        兰州
2014-01-01  0.746236  1.423477  0.291097 -2.356333
2014-01-08 -0.049008  0.873418  2.400390  1.460267

In [51]:
s.resample('D').asfreq()  #转换成高频率

                  上海        北京        广州        兰州
2014-01-01  0.746236  1.423477  0.291097 -2.356333
2014-01-02       NaN       NaN       NaN       NaN
2014-01-03       NaN       NaN       NaN       NaN
2014-01-04       NaN       NaN       NaN       NaN
2014-01-05       NaN       NaN       NaN       NaN
2014-01-06       NaN       NaN       NaN       NaN
2014-01-07       NaN       NaN       NaN       NaN
2014-01-08 -0.049008  0.873418  2.400390  1.460267

In [1]:
s.resample('D').ffill(limit=2)  #用第一行填充每一行

NameError: name 's' is not defined

In [16]:
from datetime import datetime
import pandas as pd